<div
    class="todos-body card"
>

    <div
        id="todos-list"
        class="container"
    >

        <div class="card-header">
            <ul 
                class="nav nav-pills card-header-pills"
            >
                <li class="nav-item">
                    <a class="nav-link" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Open</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Done</a>
                </li>
            </ul>
        </div>

        <div
            class="todo-list"
        >
            <app-todo></app-todo>
        </div>

    </div>

</div>
