<div
    class="todos-header"
>
    <h1 class="todos-heading w-100">
        Querplex Todo CRUD
    </h1>

    <div
        id="create-todo"
        class="container"
    >
        <form
            class="d-flex flex-row"
        >
            <input 
                type="text"
                class="form-control add-todo-input"
                placeholder="What needs to get done?"
            >
            <button 
                class="btn btn-primary add-todo-button"
                aria-label="add-todo"
            >
                ADD
            </button>
        </form>

    </div>

</div>

